!.idea/copyright
!.idea/codeStyleSettings.xml
!.idea/externalDependencies.xml
.idea

*.iml
.gradle
/local.properties
/build
/captures
.externalNativeBuild

# Prettier
node_modules
package-lock.json
package.json

# Kotlin
.kotlin/sessions
